.board {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  border-radius: 10px;
  justify-content: space-around;
  padding: 15px;
  gap: 10px;
  margin: 5vh 10vw;
}

.tab {
  display: flex;
  flex: 1;
  border-radius: 10px;
  padding: 0 15px;
  flex-direction: column;
  color: black;
}
